.ui.grid.stackable.divided
  %img.logo{src: "/logo.png"}
  .eight.wide.column
    %h3.ui.header 
      Hybrid Microgenetic Analysis:
      %br
      %em Using Activity Codebooks to Identify and Characterize Creative Process
    %address
      %strong Cesar Torres, Matthew Jörke, Emily Hill, Eric Paulos
      %br/
      cearto@berkeley.edu, mjoerke@berkeley.edu, emilyhill@berkeley.edu, paulos@berkeley.edu
      %br/

:css
  .logo{
    height: 250px;
  }