	.plot
		.plottitle EDA
		.plotarea.paper-plot{src: "/irb/111/eda_111.json"}
	.plot
		.plottitle TEMP
		.plotarea.paper-plot{src: "/irb/111/temp_111.json"}
	.plot
		.plottitle SMNA
		.plotarea.paper-plot{src: "/irb/111/smna_111.json"}
#acc-data.ui.segment.red
	.type Motion
	.plot
		.plottitle ACC_X
		.plotarea.paper-plot{src: "/irb/111/acc-x_111.json", color: "red"}
	.plot
		.plottitle ACC_Y
		.plotarea.paper-plot{src: "/irb/111/acc-y_111.json", color: "green"}
	.plot
		.plottitle ACC_Z
		.plotarea.paper-plot{src: "/irb/111/acc-z_111.json", color: "blue"}

